global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

defaults
        log     global
        mode    tcp
        option  tcplog
        option  dontlognull
        retries 3
        timeout http-request 10s
        timeout queue   1m
        timeout connect 10s
        timeout client  1m
        timeout server  1m
        timeout check 10s
        maxconn 3000

frontend app_frontend
        bind *:80
        default_backend app_backend

backend app_backend
        mode http
        balance roundrobin
        server {{hostvars[aws-ec2-webapp1].inventory_hostname}} {{web_server_1_local_ip}}:80 check
        server {{hostvars[aws-ec2-webapp2].inventory_hostname}} {{web_server_2_local_ip}}:80 check
